body{
  text-align: center;
  font-size: 30px;
  background-image: radial-gradient(circle, #d16ba5, #b98adb, #87abfe, #42c8ff, #11e0ff, #0ae3ff, #04e5ff, #00e8ff, #00d7ff, #30c3ff, #70adff, #9e93f3);
}
input{
  font-size: 28px;
}
button{
  font-size: 25px;
  padding: 10px;
  font-family: monospace;
  background-color: white;
  border: 1px solid rgb(6, 95, 212);
  color: rgb(6, 95, 212);
  margin-top: 10px;
  /* height: 36px;
  width: 62px; */
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.15s,
  /* 0.15s; */
}

button:hover {
  background-color: rgb(6, 95, 212);
  color: white;
}

button:active {
  opacity: 0.7;
}
div{
  color: white;
  background-color: #AE8CFA;
  max-width: max-content;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid purple;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-left: 400px;
  margin-top: 80px;
} 
mark{
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  font-family: monospace; 
}
input{
  width: 310px;
}

@media only screen and (max-width : 425px ) {
  body{
    font-size: 18px;
  }
  input{
    font-size: 17px;
    margin: 5px;
    width: 180px;
  }
  div{
    background-color: darkcyan;
    color: white;
    font-family: monospace;
    border: 1px solid lime;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 15px;
    margin-top: 100px;
    margin-right: 10px;
    margin-left: 70px;
  }
  mark{
    padding: 5px;
    border-radius: 3px;
  }
  h1{
    font-size: 32px;
  }
  button{
    font-size: 18px;
    padding: 5px;
    font-family: monospace;
    background-color: white;
    border: 1px solid rgb(6, 95, 212);
    color: rgb(6, 95, 212);
    margin-top: 10px;
    /* height: 36px;
    width: 62px; */
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s,
    /* 0.15s; */
  }
  button:hover {
    background-color: rgb(6, 95, 212);
    color: white;
  }
  button:active {
    opacity: 0.7;
  }
} 

@media only screen and (width : 768px) {
  div{
    background-color: darkcyan;
    border: 2px solid lime;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 15px;
    margin-top: 70px;
    margin-right: 40px;
    margin-left: 160px;
  } 
  button{
    font-size: 30px;
    padding: 5px;
    font-family: monospace;
    background-color: white;
    border: 1px solid rgb(6, 95, 212);
    color: rgb(6, 95, 212);
    margin-top: 15px;
    /* height: 36px;
    width: 62px; */
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s,
    /* 0.15s; */
  }
  button:hover {
    background-color: rgb(6, 95, 212);
    color: white;
  }
  button:active {
    opacity: 0.7;
  }
  input{
    width: 200px;
  }
}
